In [64]:
import pandas as pd  
import numpy as np  
import tensorflow as tf  
from sklearn.metrics import explained_variance_score,mean_absolute_error,median_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer

In [65]:
from google.colab import files
!gdown --id '106s-Vmb7q0EWPKytR50Es0UBwEQylFH1' --output dataset
!ls

Downloading...
From: https://drive.google.com/uc?id=106s-Vmb7q0EWPKytR50Es0UBwEQylFH1
To: /content/dataset
100% 1.33M/1.33M [00:00<00:00, 87.7MB/s]
dataset  sample_data

In [66]:
import pandas as pd
import numpy as np
data = pd.read_csv('dataset')
data.head()

   age  workclass  fnlwgt  ...  hours_per_week  native_country  salary
0   39          7   77516  ...              40              39       0
1   50          6   83311  ...              13              39       0
2   38          4  215646  ...              40              39       0
3   53          4  234721  ...              40              39       0
4   28          4  338409  ...              40               5       0

[5 rows x 15 columns]

In [67]:
X=data.drop('salary',axis=1)
y=data['salary']

In [68]:
vec_y=DictVectorizer(sparse=False)

In [69]:
target = data[['salary']]

In [70]:
y = vec_y.fit_transform(target.to_dict(orient='record'))

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:1490: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [71]:
print(y)

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [1.]]

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [74]:
from keras import utils as np_utils
y_train_onehot = np_utils.to_categorical(y_train)  
y_test_onehot = np_utils.to_categorical(y_test)
X_train_normalize=X_train/255  #標準化
X_test_normalize=X_test/255

In [75]:
print(y_test_onehot)

[[1. 0.]
 [1. 0.]
 [1. 0.]
 ...
 [0. 1.]
 [1. 0.]
 [0. 1.]]

In [76]:
from keras.utils import np_utils

In [77]:
from keras.models import Sequential
from keras.layers import Dense,Activation
from keras.optimizers import SGD

In [85]:
model = Sequential()

In [86]:
model.add(Dense(500,input_dim=14))
model.add(Activation('sigmoid'))

In [87]:
model.add(Dense(500))
model.add(Activation('sigmoid'))

In [88]:
model.add(Dense(2))
model.add(Activation('softmax'))

In [89]:
model.compile(loss='mse',optimizer=SGD(learning_rate=0.2),metrics=['accuracy'])

In [90]:
model.fit(X_train,y_train_onehot, batch_size=300,epochs=20)

Epoch 1/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2363 - accuracy: 0.7538
Epoch 2/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2398 - accuracy: 0.7602
Epoch 3/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2398 - accuracy: 0.7602
Epoch 4/20
87/87 [==============================] - 1s 13ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 5/20
87/87 [==============================] - 1s 13ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 6/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 7/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2392 - accuracy: 0.7602
Epoch 8/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2263 - accuracy: 0.7602
Epoch 9/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2388 - accuracy: 0.7602
Epoch 10/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2381 - accuracy: 0.7544
Epoch 11/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2346 - accuracy: 0.7602
Epoch 12/20
87/87 [==============================] - 1s 13ms/step - loss: 0.2333 - accuracy: 0.7535
Epoch 13/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2398 - accuracy: 0.7602
Epoch 14/20
87/87 [==============================] - 1s 13ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 15/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 16/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 17/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2397 - accuracy: 0.7602
Epoch 18/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2393 - accuracy: 0.7602
Epoch 19/20
87/87 [==============================] - 1s 12ms/step - loss: 0.2201 - accuracy: 0.7538
Epoch 20/20
87/87 [==============================] - 1s 13ms/step - loss: 0.2384 - accuracy: 0.7602

In [98]:
y_predict = model.predict(X_test_normalize)

In [99]:
from sklearn import metrics

metrics.mean_squared_error(y_test_onehot,y_predict)
print('RMSE：', np.sqrt(metrics.mean_squared_error(y_test_onehot,y_predict)))

RMSE： 0.43447194

In [100]:
def mape(y_test_onehot, y_predict):
    return np.mean(np.abs((y_predict - y_test_onehot) / (y_test_onehot +1))) * 100
print('MAPE:',mape(y_test_onehot, y_predict))

MAPE: 25.337207317352295