In [ ]:
import pandas as pd
import numpy as np
import io
import csv

In [ ]:
from google.colab import files
upload = files.upload()

Saving adult.train.txt to adult.train.txt

In [ ]:
with open('adult.train1118.csv', 'w+',)as csvfile:
    spamwriter = csv.writer(csvfile, dialect='excel')
    with open('adult.train.txt', 'r',encoding='utf-8') as filein:
        for line in filein:
            line_list = line.strip('\n').split(',')
            spamwriter.writerow(line_list)

In [ ]:
dataset = pd.read_csv('adult.train1118.csv',header=None)

In [ ]:
dataset.isnull()

          0      1      2      3      4   ...     10     11     12     13     14
0      False  False  False  False  False  ...  False  False  False  False  False
1      False  False  False  False  False  ...  False  False  False  False  False
2      False  False  False  False  False  ...  False  False  False  False  False
3      False  False  False  False  False  ...  False  False  False  False  False
4      False  False  False  False  False  ...  False  False  False  False  False
...      ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
32557  False  False  False  False  False  ...  False  False  False  False  False
32558  False  False  False  False  False  ...  False  False  False  False  False
32559  False  False  False  False  False  ...  False  False  False  False  False
32560  False  False  False  False  False  ...  False  False  False  False  False
32561   True   True   True   True   True  ...   True   True   True   True   True

[32562 rows x 15 columns]

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
dataset.columns=['age','workclass','fnlwgt','education',
        'education_num','marital_status','occupation',
        'relationship','race','sex','capital_gain',
        'capital_loss','hours_per_week','native_country',
        'salary']

In [ ]:
dataset.head()

    age          workclass    fnlwgt  ... hours_per_week  native_country  salary
0  39.0          State-gov   77516.0  ...           40.0   United-States   <=50K
1  50.0   Self-emp-not-inc   83311.0  ...           13.0   United-States   <=50K
2  38.0            Private  215646.0  ...           40.0   United-States   <=50K
3  53.0            Private  234721.0  ...           40.0   United-States   <=50K
4  28.0            Private  338409.0  ...           40.0            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
dataset.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
salary            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
dataset['workclass'] = labelencoder.fit_transform(dataset['workclass'])
dataset['education'] = labelencoder.fit_transform(dataset['education'])
dataset['marital_status'] = labelencoder.fit_transform(dataset['marital_status'])
dataset['occupation'] = labelencoder.fit_transform(dataset['occupation'])
dataset['relationship'] = labelencoder.fit_transform(dataset['relationship'])
dataset['race'] = labelencoder.fit_transform(dataset['race'])
dataset['sex'] = labelencoder.fit_transform(dataset['sex'])
dataset['native_country'] = labelencoder.fit_transform(dataset['native_country'])
dataset['salary'] = labelencoder.fit_transform(dataset['salary'])

In [ ]:
dataset.head()

    age  workclass    fnlwgt  ...  hours_per_week  native_country  salary
0  39.0          7   77516.0  ...            40.0              39       0
1  50.0          6   83311.0  ...            13.0              39       0
2  38.0          4  215646.0  ...            40.0              39       0
3  53.0          4  234721.0  ...            40.0              39       0
4  28.0          4  338409.0  ...            40.0               5       0

[5 rows x 15 columns]

In [ ]:
x_train = dataset.drop('hours_per_week',axis=1)
y_train = dataset['hours_per_week']

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xgb = XGBClassifier()
xgb.fit(x_train,y_train)

In [ ]:
xgb.score(x_train,y_train)

0.4763367218451522

In [ ]:
from google.colab import files
upload = files.upload()

Saving adult.test.txt to adult.test.txt

In [ ]:
with open('adult.train1118.csv', 'w+',newline='')as csvfile:
    spamwriter = csv.writer(csvfile, dialect='excel')
    with open('adult.test.txt', 'r',encoding='utf-8') as filein:
        for line in filein:
            line_list = line.strip('\n').split(',')
            spamwriter.writerow(line_list)

In [ ]:
dataset_test = pd.read_csv('adult.train1118.csv',header=None)

In [ ]:
dataset_test.isnull()
dataset_test.dropna(inplace=True)

In [ ]:
dataset_test.columns=['age','workclass','fnlwgt','education',
        'education_num','marital_status','occupation',
        'relationship','race','sex','capital_gain',
        'capital_loss','hours_per_week','native_country',
        'salary']

In [ ]:
dataset_test.head()

    age   workclass    fnlwgt  ... hours_per_week  native_country   salary
0  25.0     Private  226802.0  ...           40.0   United-States   <=50K.
1  38.0     Private   89814.0  ...           50.0   United-States   <=50K.
2  28.0   Local-gov  336951.0  ...           40.0   United-States    >50K.
3  44.0     Private  160323.0  ...           40.0   United-States    >50K.
4  18.0           ?  103497.0  ...           30.0   United-States   <=50K.

[5 rows x 15 columns]

In [ ]:
dataset_test.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
salary            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
dataset_test['workclass'] = labelencoder.fit_transform(dataset_test['workclass'])
dataset_test['education'] = labelencoder.fit_transform(dataset_test['education'])
dataset_test['marital_status'] = labelencoder.fit_transform(dataset_test['marital_status'])
dataset_test['occupation'] = labelencoder.fit_transform(dataset_test['occupation'])
dataset_test['relationship'] = labelencoder.fit_transform(dataset_test['relationship'])
dataset_test['race'] = labelencoder.fit_transform(dataset_test['race'])
dataset_test['sex'] = labelencoder.fit_transform(dataset_test['sex'])
dataset_test['native_country'] = labelencoder.fit_transform(dataset_test['native_country'])
dataset_test['salary'] = labelencoder.fit_transform(dataset_test['salary'])

In [ ]:
x_test = dataset_test.drop('hours_per_week',axis=1)
y_test = dataset_test['hours_per_week']

In [ ]:
xgb.score(x_test,y_test)

0.4686444321601867

In [ ]:
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
y_pred = xgb.predict(x_test)
errors = abs(y_pred-y_test)
mape = 100 * (errors / y_test)
accuracy = 100 - np.mean(mape)
rms = sqrt(mean_squared_error(y_test,y_pred))
print('MAPE:', round(accuracy, 2), '%.')
print('RMSE:',round(rms,2))

MAPE: 67.22 %.
RMSE: 12.09